body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 70px;
}

table {
    margin-left: 37%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    color: #000000;
    text-align: left;

}

th,
td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}